.btn{
    border: 1px solid #553D1D;
    width: 268px;
height: 100px;
background-color: #FFE7B4;

font-family: 'Quattrocento';
font-size: 40px;
font-weight: 700;
line-height: 44.32px;

}

.btn:hover{
    background-color: #4BB36B;
    border: none;
    color: white;
}