.container{
    width: 1440px;
    height: 615px;
    background-image: url('../assets/donation.png');
    background-color:#FFE7B4;
    background-repeat: no-repeat;
    background-size: cover;
}
.heading{
  
    width: 600px;
height: 200px;
color: white;
font-family: 'Oswald';
font-size: 70px;
font-weight: 500;
line-height: 100px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
position: relative;
top: 195px;
left: 422px;
text-transform: uppercase;


}
.footer{
    border: 2px solid yellow;
position: absolute;
top: 2084px;
left: 4px;
}