.container{
  
    width: 1200px;
border-radius: 8px ;
background-color: white;
border: 1px solid #553d1d;


}

.group1{
 
    width: 1200px;
    height: 100px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 20px 20px;
   
}
.title{
   
    width:1132px;
height: 53px;
font-family: 'Oswald';
font-size: 36px;
font-weight: 600;
line-height: 53.35px;




}
.icon{
    width: 28px;
    height: 16px;
    margin-top: 10px;
    border: none;
  
     
}

.group2{

    padding: 20px 20px;
    display: none;
}
.content,.list{
   
    font-family:'Quattrocento';
font-size: 24px;
font-weight: 400;
line-height: 26.59px;
margin-bottom: 20px;

}
.container:hover .group2{
    display: block;
}