.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 50px 20px 100px 20px;
  width: 100%;
  max-width: 1440px;
  background-color: #FFE7B4;
  box-sizing: border-box;
}

.title {
  width: 100%;
  max-width: 1200px;
  font-family: 'Oswald';
  font-size: clamp(28px, 4vw, 48px);
  font-weight: 600;
  line-height: 1.3;
  text-align: center;
  margin-bottom: 40px;
}
