.container {
  width: 100%;
  max-width: 1200px;
  border-radius: 8px;
  background-color: white;
  border: 1px solid #553d1d;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.group1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  cursor: pointer;
}

.title {
  font-family: 'Oswald';
  font-size: clamp(20px, 2vw, 36px);
  font-weight: 600;
  line-height: 1.2;
}

.icon img {
  width: 24px;
  height: 24px;
}

/* Dropdown content */
.group2 {
  padding: 0 20px 20px 20px;
  display: none;
}

.group2.active {
  display: block;
}

.content, .list {
  font-family: 'Quattrocento';
  font-size: clamp(16px, 2vw, 24px);
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 15px;
}
