.container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
   padding-top: 51px;
   padding-bottom: 464px;
   width: 1440px;
   
    background-color: #FFE7B4;
  
}
.title{
    width: 1200px;
height: 71px;
font-family: Oswald;
font-size: 48px;
font-weight: 600;
line-height: 71.14px;


}