.founder{
 
  
   padding: 34px 120px 34px 120px;
   display: flex;
   flex-direction: column;
   gap: 10px;


}
.founder .fpara {
   
width: 1166px;
height: 143px;
gap: 0px;
opacity: 0px;


}
.founder .fpara p{
    font-family: "Oswald";
    font-size: 39.57px;
    font-weight: 600;
    line-height: 58.64px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    


}
.writeby{
    position: relative;
    width: 198px;
    height: 27px;
    left: 1095px;
    gap: 0px;
    opacity: 0px;
    font-family: "Quattrocento";
font-size: 24px;
font-weight: 400;
line-height: 26.59px;
text-align: right;
text-underline-position: from-font;
text-decoration-skip-ink: none;

   


}