
.contact{
   
    display: flex;
    flex-direction: row; 
    background-color: #FFE7B4;
    height: 1145px;
    width: 1440px;
  

   
  
}
.contact1{
     display: flex;
     flex-direction: column;
     gap: 24px;
 width: 513px;
height: 143px;
position: absolute;
top: 4076px;
left: 120px;

}
.contact1 .title{
    width: 513px;
height: 53px;

font-family: "Oswald";
font-size: 36px;
font-weight: 700;
line-height: 53.35px;
text-align: left;
text-transform: uppercase;

}


.para{
    width: 513px;
height: 66px;
gap: 0px;
opacity: 0px;
font-family:"Quattrocento";
font-size: 20px;
font-weight: 400;
line-height: 22.16px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;


}
.contact2{

    display: flex;
    flex-direction: column;
    width: 590px;
height:689px;
gap: 16px;
position: absolute;
top: 4076px;
left: 733px;

}
.content1{

width:590px;
height:602px;
gap: 24px;
opacity: 0px;

}
#name{
    display: flex;
    flex-direction: column;
    width: 590px;
height:113px;
gap: 12px;
opacity: 0px;

}
.label,.label2,.label3{
    width: 590px;
height: 27px;
gap: 0px;
opacity: 0px;
font-family:"Quattrocento";
font-size: 24px;
font-weight: 700;
line-height: 26.59px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;


}
.label2{
    margin-top: 13px;
}
#nameInput ,#emailInput{
 
    display: flex;
    flex-direction: column;

    width: 590px;
height: 74px;
padding: 23px 24px 23px 24px;
gap: 20px;
border-radius: 8px;
border: 1px 0px 0px 0px;
opacity: 0px;

}


#message{
    display: flex;
    flex-direction: column;
    margin-top: 26px;
    display: flex;
    flex-direction: column;
    width:590px;
height:347px;
gap: 12px;
opacity: 0px;

}
#messageIn{
  
    width:590px;
height: 308px;
padding: 23px 24px 23px 24px;
gap: 10px;
border-radius: 8px ;
border: 1px 0px 0px 0px;
opacity: 0px;


}
.btn{
    width:149px;
height: 52px;
padding: 12px 40px 12px 40px;
gap: 8.14px;
border-radius: 520.73px ;
opacity: 0px;
background-color: #B95B00;
color: white;
font-family: Quattrocento;
font-size: 24px;
font-weight: 700;
line-height: 26.59px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
border: none;

}


