
.container{

   position: relative;
   display: flex;
   flex-direction: row;
width: 1440px;

height:80px;
top: 2px;
padding: 15px 24px 15px 24px;
gap: 0px;
justify-content: space-between;
opacity: 0px;
background-color: #553D1D;

}
.logo{
    width: 230px;
    height: 50px;
    gap: 0px;
    opacity: 0px;
    

}
.item{
   
    list-style-type: none;
    display: flex;
    flex-direction: row;
    width:376px;
height:22px;
gap: 48px;
opacity: 0px;
font-family: "Quattrocento";
font-size: 20px;
font-weight: 700;
line-height: 22.16px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: white;


}
.link{
    color: white;
    text-decoration: none;
    font-family:"Quattrocento";
font-size: 20px;
font-weight: 700;
line-height: 22.16px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}
