.container{
  
    background-color: #FFE7B4;
    padding-top: 133px;
    width: 1440px;

    
 
}
.section1{
   
    height: 576px;
    width: 1203px;
    display: flex;
    flex-direction: column;
    gap: 36px;
    background-color:#FFE7B4;
    margin-left: 80px;
   
}
.r1{
   
    height: 117px;
    display: flex;
    flex-direction: row;
    gap: 24px;
}
.c1{
   
    width: 590px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
#in{
   
    height: 74px;
    border-radius: 8px;
    border: 1px solid #B6B6B6;
    background-color: #FFF7F7;
}
.label,.label1{
    font-family: "Quattrocento";
font-size: 24px;
font-weight: 700;
line-height: 26.59px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}
.label::after{
    content: "*";
    color: red;
}

.section2{
    display: flex;
    flex-direction: row;
    
    padding-top: 45px;

}
.radio1,.radio2,.radio3{
 
    width: 204px;
    height: 219px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    background-color: #FFE7B4;
}

.radio1{
    margin-left: 80px;
}
.radio2{
    margin-left: 354px;
}
.radio3{
    margin-left: 80px;
    width:250px;
    margin-top: 45px;

}
.roption{
   
    height: 168px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.option{
  
    display: flex;
    flex-direction: row;
    gap: 24px;
}
.rtitle{
 
    width: 204px;
height: 27px;
font-family: "Quattrocento";
font-size: 24px;
font-weight: 700;
line-height: 26.59px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;


}
.rtitle::after{
    content: "*";
    color: red;
}
.labelradio{
    font-family:"Quattrocento";
font-size: 24px;
font-weight: 400;
line-height: 26.59px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}
.pass{
    margin-left: 80px;
    margin-top: 45px;
}
.btn{
    width: 184px;
    height: 52px;
    margin-top: 43px;
    margin-left: 80px;
    border-radius: 520px;
    background-color: #B95B00;
    color: white;
    font-family: 'Quattrocento';
font-size: 24px;
font-weight: 700;
line-height: 26.59px;
border: none;
margin-bottom: 250px;

}